.carousel-controls {
    opacity: 0;
    z-index: 20;
    transition: opacity 0.3s ease-in-out !important;
  }
  
  .carousel-section:hover .carousel-controls {
    opacity: .7;
  }
  
  .carousel-section {
      position: relative
  }
  .carousel-item {
      background-color: white;
  }
  
  /* For small screens (max-width 768px), reduce card size */
  @media (max-width: 768px) {
      .carousel-section .d-flex > .card-item {
          max-width: 30rem !important; /* Shrinks the card */
          font-size: 1.2rem !important; /* Reduces font size */
      }
  }
  
  /* For extra small screens (max-width 480px), further reduce the size */
  @media (max-width: 480px) {
      .carousel-section .d-flex > .card-item {
          max-width: 22rem !important; /* Even smaller card size */
          font-size: 1rem !important; /* Reduce font size further */
      }
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
      display: none !important;
  }
  .scrollbar-hidden {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  .rank-badge {
  position: absolute;
  top: 50%;
  left: -2rem; /* Position it to the left of the card */
  transform: translateY(-50%);
  width: 3rem;  /* Tall and skinny width */
  height: 5rem; /* Tall height */
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}
